@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0; 
    padding: 0; 
    font-family: "roboto";
    font-weight: 500;
}
body{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    width: 100%; 
    background-color: #FFFCEA ;
}
.container{
    display: flex;
    text-align: center;
    padding: 20px;
}
.output{
    height: 200px; 
    width: 250px; 
    border: 2px black solid; 
    align-items: center; 
    justify-content: center; 
    display: flex;
    background-color: #FFFCF9;
    transition: all 0.3s ease;
    border: 4px #c5c5c5 solid;
    font-size: 2em;
    border-radius: 4px;
    margin: 0 10px;
}
.button{
    width: 100%; 
    height: 200px; 
    align-items: center; 
    display: grid; 
    gap: 43px;
}
button{
    border: 2px gray solid;
    border-radius: 4px;
    background-color: #EBEBEB;
    cursor: pointer; 
    padding: 10px 20px;
    transition: all 0,3 ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#reset:hover {
    background-color: #D32F2F;
    color: white;
    border-color: #D32F2F;
    transition: all 0.2s;
}

#title:hover, #color:hover {
    background-color: #949494;
    transition: all 0.2s;
    border-color: #a0a0a0;
}